body {
    background-image: url('../images/lakeerie.jpg');
    background-size: cover;
    background-attachment: fixed;
}

#smsIcon {
    display: none;
}

.contactIcons {
    min-width: 33%
}

.card.col-sm-8.col-md-5 {
    margin: 0 auto;
    margin-bottom: 50px;

    & > a>img {
        margin-top: 20px;
        max-width: 50%;
    }
}

.card.col-xs-12.col-sm-10 {
    margin: 0 auto;
}

.navbar-brand .nav-link {
    color: white;

}

a.nav-link:hover {
    color: black !important;
}

.jumbotron, .card {
    opacity: .95;
    text-align: center;
    border: solid 2px rgba(109, 109, 109, 0.5);
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
}

#about{
    break-before: always;
}

.navbar {
    opacity: .5;
}

#portrait{
    max-height: 300px;
    border: none;
}

#project{
    padding: 15px;
    }

#contact {
    padding: 25px;
}

a>img.card-img-top {
    max-width: 10vw;
    margin: 0 auto;
    background-color: transparent;
    border: none;
}
.card-img-top:hover{
    transform: scale(1.05);
}

hr.my-4 {
    margin: 12px 0;
}

summary {
    text-align: left;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
}

@media (max-width: 576px) {
    div.col-xs-10 a img.card-img-top {
        max-width: 75px;
        margin: 20px 0;
    }

    #linkedInLogo {
        transform: translateX(5px);
    }
    
    #linkedInLogo:hover {
        transform: translateX(5px) scale(1.05);
    }

    .card.col-sm-8.col-md-5 {
        margin: 0px 50px 50px 50px;
    }

    .col-xs-12.col-sm-8.offset-sm-2 {
        margin: 0 auto;
        max-width: 95vw !important;
    }

    .col-sm-3.col-xs-10.offset-xs-1 {
        margin-bottom: 20px;
    }

    #smsIcon {
        display: block;
    }
}