body {
    /* background-color: #FCFDFE; */
    background-image: url('../images/laptop1.jpg');
    background-size: cover;
}

.jumbotron, .card {
    opacity: .95;
    text-align: center;
    border: solid 3px grey;
    background-color: white;
}

#about{
    break-before: always;
}
/* 
.card{
    opacity: .95;
    background-color: white;
    border: solid 3px grey;

} */
img{
    border: solid 1px grey;
}
.navbar {
    opacity: .5;
}

#portrait{
    max-width: 25%;
    border: none;
}