body {
    /* background-color: #FCFDFE; */
    background-image: url('../images/lakeerie.jpg');
    background-size: cover;
}
.navbar-brand .nav-link {
    color: white;
}
.jumbotron, .card {
    opacity: .95;
    text-align: center;
    border: solid 2px rgba(109, 109, 109, 0.5);
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
}

#about{
    break-before: always;
}

img{
    border: solid 1px grey;
}
.navbar {
    opacity: .5;
}

#portrait{
    max-height: 300px;
    border: none;
}

#project{
    padding: 15px;
    }

#contact {
    padding: 25px;
}

#externalLink:hover {
    border: solid 2px black;
}

.card-img-top{
    background-color: rgba(240, 255, 255, 0.75);
    
}